h3 = t('.title')

= render @railway_station 

/ = link_to 'Edit', edit_railway_station_path(@railway_station), class: 'waves-effect waves-light btn'
p =< link_to t('common.back'), admin_railway_stations_path, class: 'btn'  
