h3 = t('.title')

table.striped
  thead
    tr
      th = t('activerecord.attributes.route.name')
      th
      th
      th

  tbody
    = render partial: 'routes', collection: @routes, as: 'route'

p = link_to t('.new'), new_admin_route_path, class: 'btn'
