h3 = t('.title')

table.striped
  thead
    tr
      th = t('activerecord.models.railway_station')
      th
      th
      th
  tbody
    = render partial: 'tickets', collection: @tickets.where(user: current_user), as: 'ticket'
