h3 = t('.title')

/ # = render @carriage 
= render partial:'carriage', locals: {carriage: @carriage}

/ # p =< link_to 'Back', carriages_path, class: 'btn'  
p =< link_to t('common.back'), sti_carriage_helper_path(@type), class: 'btn'