h3 Listing tickets

table.striped
  thead
    tr
      th Stations
      th
      th
      th
  tbody
    = render partial: 'tickets', collection: @tickets, as: 'ticket'

p = link_to 'New Ticket', new_admin_ticket_path, class: 'btn'