h3 = t('.title')

table.striped
  thead
    tr
      th = t('activerecord.models.ticket')
      th
      th
      th
  tbody
    = render partial: 'tickets', collection: @tickets, as: 'ticket'

p = link_to t('.new'), new_admin_ticket_path, class: 'btn'