h3 Editing railway stations

== render 'form'

/   = link_to 'Show', @railway_station, class: 'waves-effect waves-light btn'
/   =< link_to 'Back', railway_stations_path, class: 'waves-effect waves-light btn'  