h3 Railway station

= render @railway_station 

/ = link_to 'Edit', edit_railway_station_path(@railway_station), class: 'waves-effect waves-light btn'
p =< link_to 'Back', railway_stations_path, class: 'waves-effect waves-light btn'  
