h3 = t('.title')

= render @train 
/ p = @train.number

p =< link_to t('common.back'), admin_trains_path, class: 'btn'  

/ = link_to 'Edit', edit_train_path(@train)
/ '|
/ = link_to 'Back', trains_path
