h3 = t('.title')

table.striped
  thead
    tr
      th = t('activerecord.attributes.user.name')
      th
      th
      th
  tbody
    = render partial: 'users', collection: @users, as: 'user'

p = link_to t('.new'), new_admin_user_path, class: 'btn'